body {
  font-family: Arial, sans-serif;
  background-image: url("./mathBackgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  background-color: #E3D9C8;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: 60px auto;
  padding: 30px;
}

header {
  background-color: #210A45;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

#game-box {
  margin-top: 25px;
}

#question {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#answer {
  font-size: 20px;
  padding: 6px;
  width: 60%;
}

#submit {
  background-color: #73B8C3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

#submit:hover {
  background-color: #2980b9;
}

#feedback {
  font-size: 22px;
  margin-top: 15px;
}

#score-container {
  margin-top: 25px;
  font-size: 20px;
}

#start {
  background-color: #097C4E;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

#start:hover {
  background-color: #27ae60;
}
